<div class="container">
    <div class="row">
        
<h2>Date Pipe:</h2>

<p>Today's Date : {{date | date}}</p>

<p>Today's <strong>Full</strong> Date : {{date | date: 'full'}}</p>

<p>Today's <strong>short</strong> Date : {{date | date: 'short'}}</p>

<p>Today's <strong>medium</strong> Date : {{date | date: 'medium'}}</p>

<p>Today's <strong>long</strong> Date : {{date | date: 'long'}}</p>

<p>Today's <strong>shortDate</strong> Date : {{date | date: 'shortDate'}}</p>

<p>Today's <strong>mediumDate</strong> Date : {{date | date: 'mediumDate'}}</p>

<p>Today's <strong>longDate</strong> Date : {{date | date: 'longDate'}}</p>

<p>Today's <strong>fullDate</strong> Date : {{date | date: 'fullDate'}}</p>

<p>Today's <strong>shortTime</strong> Date : {{date | date: 'shortTime'}}</p>

<p>Today's <strong>mediumTime</strong> Date : {{date | date: 'mediumTime'}}</p>

<p>Today's <strong>longTime</strong> Date : {{date | date: 'longTime'}}</p>

<p>Today's <strong>fullTime</strong> Date : {{date | date: 'fullTime'}}</p>

<hr>

<h2>Uppercase pipe:</h2>

<p>Full Name : {{fullName | uppercase}}</p>

<hr>

<h2>Lowercase pipe:</h2>

<p>First Name : {{FirstName | lowercase}}</p>

<hr>

<h2>Titlecase pipe:</h2>

<p>Title : {{day | titlecase}}</p>

<hr>

<h2>Currency Pipe:</h2>

<p><strong>American</strong> Price USD format : {{price| currency:'USD'}}</p>

<p><strong>Indian</strong> Price INR format : {{price| currency:'INR'}}</p>

<p><strong>Brazil</strong> Price BRL format : {{price| currency:'BRL'}}</p>

<p><strong>Austria</strong> Price EUR format : {{price| currency:'EUR'}}</p>

<p><strong>South Korea</strong> Price KRW format : {{price| currency:'KRW'}}</p>

<p><strong>China</strong> Price CNY format : {{price| currency:'CNY'}}</p>

<p><strong>Japan</strong> Price JPY format : {{price| currency:'JPY'}}</p>

<hr>

<h2>Percent Pipe:</h2>

<p>Total discount : {{Discount | percent}}</p>
<p>Total discount : {{discount | percent}}</p>

    </div>
</div>